.tags {
    padding: 1px 5px;
    border: solid cornflowerblue 1px;
    background-color: lightblue;
    border-radius: 2px;
    font-size: smaller;
}

.comments {
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 5px;
    margin: 30px 0;
    color: white;
}