.tags {
    padding: 1px 5px;
    border: solid cornflowerblue 1px;
    background-color: lightblue;
    border-radius: 2px;
    font-size: smaller;
}

.comments {
    padding: 10px;
    background-color: $comment-box;
    border-radius: 5px;
    margin: 30px 0 0 0;
    color: white;
    max-width: 600px;
    font-family: system-ui, sans-serif;
}

.page-background {
    background-color: $highlight4;
}

.rainbow1 {
    color: #3839A0;
}

.rainbow2 {
    color: #239421;
}

.rainbow3 {
    color: #ccb846;
}

.rainbow4 {
    color: #AF491C;
}

.rainbow5 {
    color: #a53793;
}
