$comment-box: #94c2e4;
$highlight1: #3839A0;
$highlight2: #a53793;
$highlight3: #AF491C;
$highlight4: #fffbf8;
$highlight5: #30322d;
$highlight6: #239421;
$highlight7: #ccb846;
$highlight8: #cc2e2e;


.highlight1 {
    border-bottom: 2px solid $highlight1;
}
.highlight2 {
    border-bottom: 2px solid $highlight2;
}
.highlight3 {
    border-bottom: 2px solid $highlight3;
}
.highlight6 {
    border-bottom: 2px solid $highlight6;
}
.highlight7 {
    border-bottom: 2px solid $highlight7;
}
.highlight8 {
    border-bottom: 2px solid $highlight8;
}


*,:after,:before {
    box-sizing:border-box;
    background-color:inherit;
    color:inherit;
    margin:0;
    padding:0;
}

body {
    font-family: system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height:1.5;
    font-size: 1rem;
    color: $highlight5;
}

body h1, h2, h3, h4, h5, h6 {
    font-family: system-ui, sans-serif;
}

nav ul {
    border-right: 2px solid $highlight2;
}

a {
    color: #000;
    text-decoration-skip-ink: auto;
    text-decoration: underline;
}

pre {
    margin: .5rem 0;
    padding: .5rem;
}

section.post {
    margin: 0 2em;
}

.post p {
    margin: .5rem 0;
    color: $highlight5;
}

.post h1, .post h2, .post h3, .post h4 {
    margin: 1rem 0;
}

.post h2 {
    padding-top: 2rem;
}

.meta {
    margin: 2rem 0;
}

code,pre {
    background: rgb(236, 237, 238);
}

code {
    padding: .1rem;
}

pre code {
    border: none;
}

pre {
    padding: 1rem;
    overflow-x: auto;
}

img {
    max-width:100%;
}

hr {
    background: #000;
    height: 1px;
    border: 0;
}

header {
    flex-basis:10rem;
    flex-grow:1;
    position:relative;
}

header a {
    text-decoration: none;
}

header li {
    margin-bottom: .2rem;
    text-align: right;
    margin-right: 2rem;
}

header a.active {
    font-weight: bold;
}

header,section {
    padding:1rem;
}

blockquote {
    font-style: italic;
    border-left: 5px solid #ececec;
    padding-left: 1rem;
}

h1,h2,h3,h4,h5 {
    line-height: 1;
    margin: 1rem 0;
    font-weight: 600;
}

section h1:first-child {
    margin-top: 0;
}

strong, b {
    font-weight: bold;
}

.photo picture, .project picture {
    margin-bottom: 0.5rem;
}

.posts ul,header ul {
    list-style:none;
}

.posts li {
    align-items:center;
    display:flex;
    justify-content:space-between;
    margin-bottom: .5rem;
}

.posts li a, .posts li div, .projects li a {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-decoration: none;
}

.posts li time, .projects li time {
    padding-left: 1rem;
    white-space: nowrap;
    font-variant-numeric: tabular-nums;
}

main {
    display:flex;
    flex-wrap:wrap;
    max-width:65rem;
    margin:2rem auto;
    padding:1rem;
}

.social-container {
    text-align: right;
    margin-right: 1em;
}

.post-header {
    width: 600px;
    margin-bottom: 32px;
}

@media screen and (max-width: 600px) {
    .playlist {
        margin-left: -0.5em;
    }
}

@media screen and (max-width: 1000px) {
    main {
        display:flex;
        flex-wrap:wrap;
        max-width:65rem;
        padding:.25rem;
    }

    section.post {
        margin: 0 0.5em;
    }

    header li {
        display: inline;
        margin-right: 1rem;
    }

    header {
        padding-bottom: 2rem;	
    }
    nav ul {
        border-right: 0px;
    }

    .navbar-container {
        margin: auto;
        text-align: center;
    }
    .social-container {
        text-align: center;
        margin: auto;
        display: inline-flex;
    }
    .post-header {
        width: 600px;
        max-width: 80vw;
        margin: auto;
        margin-bottom: 32px;
    }

}

section {
    flex-basis:0;
    flex-grow:999;
    min-width:70%;
    display:flex;
    flex-direction:column;
    
}

figcaption {
    font-size: smaller;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}


.navbar-text li {
    margin: 10px;
    font-size: larger;
    font-family: system-ui, sans-serif;
}