---
layout: default
---

<section class="post">
    <h4>Venue:</h4>
    <span>{{page.venue}}</span>
    <h4>Date:</h4>
    <span>{{ page.show_date | date: "%B %-d, %Y" }}</span>
    <h4>Recording:</h4>
    <h4>Setlist:</h4>
    {% assign setlist_midway = page.setlist.size | divided_by: 2.0 | ceil %}
    <div style="display: flex;">
        <div style="flex: 40%; border-right: 1px grey solid;">
            {% for song in page.setlist limit:setlist_midway%}
                <div><a href="{{song.source}}" target="_blank">{{song.song}}</a></div>
            {% endfor %}
        </div>
        <div style="flex: 50%; padding-left: 10%;">
            {% for song in page.setlist offset:setlist_midway%}
                <div><a href="{{song.source}}" target="_blank">{{song.song}}</a></div>
            {% endfor %}
        </div>
    </div>
    <h4>Our thoughts:</h4>
    {{page.content}}
    <h4>Community thoughts:</h4>
    <div>
        {% assign comments_midway = page.community_thoughts.size | divided_by: 2.0 | ceil %}
        <div style="display: flex;">
            <div style="flex: 40%;">
                {% for obj in page.community_thoughts limit:comments_midway%}
                    <div class="comments">
                        <div>{{obj.comment}}</div>
                        - {{obj.user}}
                    </div>
                {% endfor %}
            </div>
            <div style="flex: 50%; padding-left: 10%;">
                {% for obj in page.community_thoughts offset:comments_midway%}
                    <div class="comments">
                        <div>{{obj.comment}}</div>
                        - {{obj.user}}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>